pandas
matplotlib
seaborn
pycaret
flaml
scikit-learn
numpy
optuna
sweetviz
ydata-profiling
dtale
shap
joblib
mlflow
scipy
pytz
python-dateutil
six
google
protobuf
packaging
opentelemetry-api
opentelemetry-sdk
deprecated
importlib_metadata
opentelemetry-semantic-conventions
requests
urllib3
idna
chardet
charset_normalizer
certifi
databricks-sdk
google-auth
cryptography
pyasn1
pyasn1-modules
cffi
cachetools
PyYAML
sqlparse
pycparser
databricks-cli
beautifulsoup4
cycler
dash
dash-bootstrap-components
dash-colorscales
dash-daq
et-xmlfile
flask
flask-compress
future
itsdangerous
kaleido
lz4
missingno
networkx
openpyxl
plotly
squarify
statsmodels
strsimpy
werkzeug
xarray
xlrd
rsa
zipp
contourpy
fonttools
importlib-resources
kiwisolver
click
cloudpickle
colorlog
dacite
deprecation
docker
graphene
htmlmin
ImageHash
imbalanced-learn
ipython
ipywidgets
Jinja2
lightgbm
Markdown
MarkupSafe
mlflow-skinny
multimethod
nbformat
numba
phik
pillow
plotly-resampler
pmdarima
psutil
pyarrow
pyod
pyparsing
pydantic
schemdraw
scikit-plot
sktime
slicer
tbats
threadpoolctl
tqdm
typeguard
typing-extensions
tzdata
visions
llvmlite
attrs
patsy
blinker
brotli
brotlicffi
zstandard
wrapt
wordcloud
azureml-sdk
#python-Levenshtein Included in the Dockerfile to avoid installation issues
#flaml[automl] Included in the Dockerfile to avoid installation issues